#clikspan{}
#progress	{background-color:#00ADEF;width=0px;height:12px;}

<!-- styles used by progress/status bar -->
#pgrss_td{font-family: verdana;font-size: 8pt;color: #000000;text-align: center; padding-top:2px; padding-bottom:2px; padding-left:5px;padding-right:5px;background-color: lightgrey;border-left:1px solid silver;}
#pgrsshighlight_td{font-family: verdana;font-size: 8pt;color: #FFFFFF;text-align: center;font-weight:bold; padding-top:2px; padding-bottom:2px; padding-left:5px;padding-right:5px;border-left:1px solid blue;background-color: #00ADEF;}
.progressbar{border-top:1px solid #474646;border-right:1px solid darkgray;border-bottom:1px solid darkgray;}
td.topmargin	{height:10px;}

.boxcontents{border-left:1px solid #cccccc;border-top:1px solid #cccccc;border-right:1px solid #474646;border-bottom:1px solid #474646;padding-left:5px;padding-right:5px;padding-top:2px;padding-bottom:2px;}
.boxbarheader{border-left:1px solid #cccccc;border-top:1px solid #cccccc;border-right:1px solid #474646;border-bottom:1px solid #474646; padding:0px;}
.link_bar_text{font-family: verdana;font-size: 8pt;color: #000000;font-weight:bold;}
.obar_list	{ font-family: verdana; font-size: 8pt; color: #000000;}
.subbar_td{font-family: verdana;font-size: 8pt;color: black;background-image:URL("billeder/green.light.gif");}
.subbar_td_header{font-family: verdana;font-size: 8pt;color: black;font-weight:bold;background-image:URL("billeder/green.light.gif");}
.header		{font-size: 36px;font-weight: bold;color : #00ADEF;}
.header1	{font-size: 20px; font-weight: bold; color : #00ADEF; margin-top: 6px; margin-bottom: 3px;}
.header2	{font-size: 14px; font-weight: bold; color : #00ADEF; margin-top: 6px; margin-bottom: 3px;}
.header3	{font-size: 12px; font-weight: bold; color : #00ADEF;}

div.wnd_main		{position:absolute; border-style:solid; border-width:0px; top:-1000; left:-100 width:10; height:10; overflow:hidden}
div.wnd_titlebar	{position:absolute; background-color:#00ADEF;  border-color:#CE6363; border-style:solid; border-width:1px; overflow:hidden; left:0px;  top:0px;   height:17px;}
div.wnd_contents	{position:absolute; background-color:white;      border-color:#CE6363; border-style:solid; border-width:1px; padding:13px;}
div.wnd_statusbar	{position:absolute; background-color:silver;     border-color:#CE6363; border-style:solid; border-width:1px; overflow:hidden; left:-100; top:-1000; width:10; }

td.wnd_titlebar	{vertical-align:middle;font-size: 8pt;color: #FFFFFF;font-weight:bold;padding-right:1px;padding-left:1px;padding-top:1px;padding-bottom:1px;}

table.list      {border:1;padding:0;letter-spacing:0;}
table.main   {border:0;padding:0;letter-spacing:0; width: 500px;}
table.sub   {border:0;padding:0;letter-spacing:0; width: 90%;}

td	{ font-family: verdana; font-size: 8pt; color: #000000; padding-left:2px; padding-right:2px;}
td.progressgauge	{padding:0px;}
td.list-header	{background-color:#00ADEF; color:white; font-weight:bold;padding-left:5px;padding-right:5px;}
td.list-contents{background-color:#EBEBEB;padding-left:5px;padding-right:5px;}
td.list-contents-disabled{background-color:#EBEBEB; color:gray;padding-left:5px;padding-right:5px;}
td.list-contents-attention{background-color:red; color:white;padding-left:5px;padding-right:5px;}
td.exclusive{background-color:#CE6363; color:black;padding-left:2px;padding-right:2px;font-weight:bold;}
td.movie-title	{font-size:16px; color:#00ADEF; font-weight:bold;}
td.movie-title-small	{color:#00ADEF; font-weight:bold;}
td.movie-subtitle	{font-size:14px; color:#00ADEF; font-weight:bold;}
td.notes {font-family: verdana; font-size: 7pt; color: black}
td.movie-box	{background-color: silver; border: 1px solid gray;}

h1	{ font-family: verdana; font-size: 10pt; color: #000000; margin-bottom:12px;}
input	{ font-family: verdana; font-size: 8pt; color: #000000;}
input.button	{ font-family: verdana; font-size: 8pt; color: #000000;}
select	{ font-family: verdana; font-size: 8pt; color: #000000;}
textarea{ font-family: verdana; font-size: 8pt; color: #000000;}
option	{ font-family: verdana; font-size: 8pt; color: #000000;}
body	{scrollbar-3dlight-color : #AAE0F9; scrollbar-arrow-color:#AAE0F9; scrollbar-base-color:#00ADEF; scrollbar-darkshadow-color:#00ADEF; scrollbar-face-color:#00ADEF; scrollbar-highlight-color:#00ADEF; scrollbar-shadow-color:#AAE0F9; scrollbar-track-color:#AAE0F9;}

a	{ font-family: verdana; font-size: 8pt; color: #000000; font-weight:bold; text-decoration:none;}
a.light	{ font-family: verdana; font-size: 8pt; color: #FFFFFF; font-weight:bold; text-decoration:none;}
a.small	{ font-family: verdana; font-size: 7pt; color: #FFFFFF; font-weight:bold; text-decoration:none;}
a.onwhite	{ font-family: verdana; font-size: 8pt; color: #000000; font-weight:bold;text-decoration:none;}
a.homepage-style-old	{ font-family: verdana; font-size: 8pt; color: #FFFFFF; font-weight:bold; text-decoration:none;}
a.scopelink-style-old	{ font-family: verdana; font-size: 8pt; color: #FFFFFF; font-weight:bold; text-decoration:none;}
a.byenkalder-style-old	{ font-family: verdana; font-size: 8pt; color: #FFFFFF; font-weight:bold; text-decoration:none;}
a.movie-box	{ font-family: verdana; font-size: 8pt; color: #FFFFFF; font-weight:bold; text-decoration:none;}
a.homepage-style-new	{ font-family: verdana; font-size: 8pt; color: #000000; font-weight:normal; text-decoration:none;}
a.scopelink-style-new	{ font-family: verdana; font-size: 8pt; color: #000000; font-weight:normal; text-decoration:none;}
a.byenkalder-style-new	{ font-family: verdana; font-size: 8pt; color: #000000; font-weight:normal; text-decoration:none;}
a.movie-box-style-new	{ font-family: verdana; font-size: 8pt; color: #000000; font-weight:bold; text-decoration:none;}

font.notes {font-family: verdana; font-size: 7pt; color: black}
font.importante 	{color: #00ADEF; font-weight:bold;}
font.importante-small 	{color: #00ADEF; font-weight:bold; font-size: 12px;}
font.importante-medium 	{color: #00ADEF; font-weight:bold; font-size: 16px;}
font.importante-large 	{color: #00ADEF; font-weight:bold; font-size: 22px;}
font.default {font-family: verdana; font-size: 8pt; color: #000000;}

span.locsubname	{border:1px; padding: 0px; background-color:red; display:none;}
span.reviews	{}

#bar{font-family: verdana;font-size: 8pt;color: #000000;font-weight:bold;border-left:1px solid #cccccc;border-top:1px solid #cccccc;border-right:1px solid #474646;border-bottom:1px solid #474646;cursor:default;  padding:0px;}
#bar_over{font-family: verdana;font-size: 8pt;color: #000000;font-weight:bold; border : 1px solid Black;cursor:hand;  padding:0px;}
#help_bar{font-family: verdana; font-size: 8pt;color: #000000;font-weight:bold; border : 1px solid Black; padding-top:2px;}

<!-- receipt.asp related styles -->
td.lght-bdr	{border: 1px solid silver;}
img.locationlogo	{height: 0px;}
img.barcode	{height: 25px; width:255px;}

<!-- listarr.asp related styles -->
.howto_text{font-family: verdana;font-size: 9pt;color: #FFFFFF;font-weight:bold;padding-left:2px;padding-right:2px;padding-top:2px;padding-bottom:2px;background-color: silver;}
td.verticalspace	{height:10px;}

<!-- listarr-nonepict.asp related styles -->
td.bar_text{font-family: verdana;font-size: 9pt;color: #FFFFFF;font-weight:bold; padding:2px; background-color: #00ADEF;}
td.bar_text_soldout{font-family: verdana;font-size: 9pt;color: #FFFFFF;font-weight:bold;padding-left:0px;padding-right:1px;padding-left:1px;padding-top:1px;padding-bottom:1px;background-color: silver;}
td.bar_text_disabled{font-family: verdana;font-size: 9pt;color: #FFFFFF;font-weight:bold;padding-left:0px;padding-right:1px;padding-left:1px;padding-top:1px;padding-bottom:1px;background-color: silver;}
td.bar_text_small{font-family: verdana;font-size: 8pt;color: #FFFFFF;font-weight:bold;padding-left:0px;padding-right:1px;padding-left:1px;padding-top:1px;padding-bottom:1px;background-color: #00ADEF;}
td.bar_text_small_soldout{font-family: verdana;font-size: 8pt;color: #FFFFFF;font-weight:bold;padding-left:0px;padding-right:1px;padding-left:1px;padding-top:1px;padding-bottom:1px;background-color: silver;}
td.bar_text_small_disabled{font-family: verdana;font-size: 8pt;color: #FFFFFF;font-weight:bold;padding-left:0px;padding-right:1px;padding-left:1px;padding-top:1px;padding-bottom:1px;background-color: silver;}

<!-- listarr-pict.asp related styles -->
.pict_text{font-family: verdana;color: #000000;padding-left:0px;padding-right:1px;padding-left:1px;padding-top:1px;padding-bottom:1px;}
.pict_text_soldout{font-family: verdana;color: silver; padding-left:0px;padding-right:1px;padding-left:1px;padding-top:1px;padding-bottom:1px;}
.pict_text_disabled{font-family: verdana;color: silver; padding-left:0px;padding-right:1px;padding-left:1px;padding-top:1px;padding-bottom:1px;}
.pict_bar_text_small{font-family: verdana;font-size: 8pt;color: #FFFFFF;font-weight:bold;padding-left:0px;padding-right:1px;padding-left:1px;padding-top:1px;padding-bottom:1px;background-color: #00ADEF;}
.pict_bar_text_small_soldout{font-family: verdana;font-size: 8pt;color: #FFFFFF;font-weight:bold;padding-left:0px;padding-right:1px;padding-left:1px;padding-top:1px;padding-bottom:1px;background-color: silver;}
.pict_bar_text_small_disabled{font-family: verdana;font-size: 8pt;color: #FFFFFF;font-weight:bold;padding-left:0px;padding-right:1px;padding-left:1px;padding-top:1px;padding-bottom:1px;background-color: silver;}
td.match-box	{border: 1px solid #00ADEF; padding:5px;margin-top:5px;}
td.match-box-disabled	{border: 1px solid silver; padding:5px;margin-top:5px;}
img.poster	{width: 65px;}

<!-- listarr-2xbox.asp related styles -->
td.movie-title-2xbox	{color:#00ADEF; font-weight:bold;}
td.movie-censur-2xbox	{color:silver;}
td.movie-box-2xbox	{padding:5px;border:1px solid #00ADEF; color: #000000; width:225px; height: 85px;}
td.movie-category-2xbox	{font-weight:bold;}
a.movie-moreinfo-2xbox	{font-family: verdana; color: #000000; font-weight:normal; text-decoration:none;}
a.movie-buyreserve		{font-family: verdana; color: #000000; text-decoration:none;border: solid 1px #ffffff;}
a.movie-buyreserve:hover	{font-family: verdana; color: #ffffff; text-decoration:none;border: solid 1px #00ADEF; background-color: #00ADEF;}
img.movie_poster	{width:100px;}

<!-- listarr-oldfasion-movie.asp related styles -->
img.listarr-oldfasion-movie-moviepict	{width: 155px; border:0px;}
img.listarr-oldfasion-movie-movieposter	{height: 250px; border:0px;}
img.listarr-oldfasion-movie-review	{height: 14px; border:0px;}

<!-- listarr-oldfasion-calender.asp related styles -->
td.calender	{ font-family: verdana; font-size: 8pt; color: #000000;padding-top:2px;padding-bottom:2px;background-color: silver; border-bottom:1px solid white; border-right:1px solid white;}
td.calender-header	{ font-family: verdana; font-size: 8pt; color: #FFFFFF;background-color: #00ADEF; font-weight:bold;padding-top:2px;padding-bottom:2px; border-bottom:1px solid white; border-right:1px solid white;padding-left:2px;padding-right:2px;}
td.calender-weekend	{ font-family: verdana; font-size: 8pt; color: #000000;padding-top:2px;padding-bottom:2px;background-color: silver; border-bottom:1px solid white; border-right:1px solid white;}
td.calender-header-weekend	{ font-family: verdana; font-size: 8pt; color: #FFFFFF;background-color: #AAE0F9; font-weight:bold;padding-top:2px;padding-bottom:2px; border-bottom:1px solid white; border-right:1px solid white;padding-left:2px;padding-right:2px;}
a.calender	{ font-family: verdana; font-size: 8pt; color: #00ADEF; text-decoration:none;}
a.calender-weekend	{ font-family: verdana; font-size: 8pt; color: #AAE0F9; text-decoration:none;}
a.calender-header	{color: #FFFFFF; text-decoration:none;}

<!-- listarr.asp related styles -->
img.tickettype_poster	{width:125px;}

<!-- res-list.asp related styles -->
td.res-active-main	{background-color:green; color: yellow; font-size: 11px;}
td.res-active	{color: yellow; font-size: 11px;}
td.res-cleared-main	{background-color:silver; color: white; font-size: 11px;}
td.res-cleared	{color: white; font-size: 11px;}
td.res-printself-main	{background-color:#00ADEF; color: white; font-size: 11px;}
td.res-printself	{color: white; font-size: 11px;}
img.res-movieposter	{ width:70px;}
a.res-active	{color: yellow; font-size: 10px;text-decoration:none;}
a.res-printself	{color: yellow; font-size: 10px;text-decoration:none;}
a.res-cleares	{}

<!-- res-receipt.asp related styles -->
img.res-receipt-poster	{width: 125px;}

<!-- paymentdata.asp related styles -->
img.paymentdata-card-visa	{width:35px; height:22px; border:0px;}
img.paymentdata-card-dk		{width:35px; height:22px; border:0px;}
img.paymentdata-card-mc		{width:35px; height:22px; border:0px;}
img.paymentdata-card-visaelec	{width:35px; height:22px; border:0px;}
img.paymentdata-card-din	{width:35px; height:22px; border:0px;}
img.paymentdata-cvc	{height: 80px;}

<!-- acceptpayment.asp related styles -->
img.acceptpayment-poster	{width:75px;}

<!-- receipt.asp related styles -->
img.receipt-poster	{width:75px;}


<!-- New contept -->
div				{padding:0px; margin:0px;}
div#listarr div#select		{text-align:center;}
div#listarr td#arrtype		{font-weight:bold; font-size:14px;}
div#ebillet-info		{}
div#progressbar			{display:none;}

div#listmov img#poster		{width:120px; height:165px;}
div#listmov td#item		{height:200px; width:140; padding:10px;}
div#listmov input#select	{border:1px solid black;}
div#listmov body		{background-color:#00ADEF;}

/* 
 * Bibliografen CSS tilføjelser
 ======================================== */

/* Layout ændringer
 ==========================================*/
#listarr {
  min-height: 0px;
}

#listarr table.main {
  width: 850px;
  position: absolute;
  top: 0px;
  left: 0px;
}

#listarr td {
  padding-left: 0;
  padding-right: 0;
}

/* Gem det indhold der ikke ses på skitsen
 ==========================================*/
#listarr #help_bar, #listarr #address {
    display:  none;
}

/* Select / dropdown liste og caption
 ==========================================*/
#select .caption {
  font-family: "SourceSansProRegular","Helvetica Neue",Helvetica,"Lucida Sans Unicode",Arial,sans-serif;
  color: rgba(0,0,0,0.7);
  font-weight: normal;
  font-size: 16px;
  position: absolute;
  top:  20px; 
}

#select form table tbody tr:nth-child(2) td.caption {
 left:  420px; width: 100px;
}

#listarr #select form table {
  position: relative;
    background-color: #efefef;
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
    max-width: 850px;
    padding-bottom: 8px;
    height:  100px;
}


 #listarr #select form table select {
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: -moz-linear-gradient(#efefef,#fbfbfb);
  background-image: -webkit-linear-gradient(#efefef,#fbfbfb);
  background-image: linear-gradient(#efefef,#fbfbfb);
  -webkit-appearance: menulist-button;
  border: 1px solid #d5d5d5;
  height: 36px;
  padding: 8px;
  margin-bottom: 8px;
  font-family: "SourceSansProRegular","Helvetica Neue",Helvetica,"Lucida Sans Unicode",Arial,sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  width: 380px;
}

#select form table tbody tr:nth-child(2) td:nth-child(2) select  {
  left: 420px;
}

#select form table tbody tr {
  display: inline-block; 
  position: absolute; 
  top: 0px;
  width: 400px;
}

#select form table tbody tr select {
  width: 280px;
  position:  absolute;
  top:  50px;  
}



/*  Film bokse 
 =================================================*/

#listarr #arrangements table {
  width: 100%;
  height:  0px;
}

#listarr #arrangements table tr td table tr td:first-child {
  width: 65px;
}

 #listarr td.movie-box-2xbox {
  border-color: #e8e8e8;
 }

 #listarr img.movie_poster {
  padding-right: 8px;
  padding-left: 5px;
 }

/* Tilføj padding til titler og indholdstekst */
#listarr td.movie-title-2xbox, #listarr td.movie-subname-2xbox {
  padding-bottom: 3px;
}

#listarr td.movie-box-2xbox {
  width: 49%;
}

#listarr table > tbody tr td:nth-child(2) table tbody tr:nth-child(2) td table tbody tr td:nth-child(1) {
  width: 0px !important;
}

#listarr table tbody tr td:nth-child(2) table tbody tr:nth-child(2) td table {
  margin-top: 4px;
}

/* IE8 Hack */
@media \0screen  {
  #select .caption {
    position: relative;
    top:  20px; 
    left: 10px;
  }

  #select form table tbody tr {
    position: relative;
  }

  #select form table tbody tr select {
    position: relative;
    top: 0px;
  }
}





