/* Bibliografen CSS - by Reload
|======================================== 
| This css is here to make enhance the userexperience
| at: https://gladsaxe-stg.ddbcms.dk/program-0
|
| Please note, that some selectors has longer paths 
| then others and has id's like #listarr infront of them
| This is on purpose, since it's needed to override 
| the original styles
 */

/* Global layout changes 
|==========================================
| These styles are for the overall styling of the 
| iframe content
*/

#listarr {
  min-height: 0px;
}

#listarr table.main {
  width: 850px;
  position: absolute;
  top: 0px;
  left: 0px;
}

#listarr td {
  padding-left: 0;
  padding-right: 0;
}

/* Hidden content
|==========================================
| On the sketches, the help block and 
| the footer is hidden. 
*/
#listarr #help_bar, #listarr #address {
    display:  none;
}

/* Select / dropdown liste og caption
|==========================================
| These styles are for styling the top area
| of the iframe, containing the select boxes
| 
| Since all the markup is made with html tables
| the idea behind this styling is to make the tr
| display next to eachother and the td on top of
| eachother. 
| 
| This is done by positioning the elements with 
| position absolute
*/
#select .caption {
  font-family: "SourceSansProRegular","Helvetica Neue",Helvetica,"Lucida Sans Unicode",Arial,sans-serif;
  color: rgba(0,0,0,0.7);
  font-weight: normal;
  font-size: 16px;
  position: absolute;
  top:  20px; 
}

#select form table tbody tr:nth-child(2) td.caption {
 left:  420px; width: 100px;
}

/* listarr is needed to override the original styles */
#listarr #select form table {
  position: relative;
    background-color: #efefef;
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
    max-width: 850px;
    padding-bottom: 8px;
    height:  100px;
}

#listarr #select form table select {
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: -moz-linear-gradient(#efefef,#fbfbfb);
  background-image: -webkit-linear-gradient(#efefef,#fbfbfb);
  background-image: linear-gradient(#efefef,#fbfbfb);
  -webkit-appearance: menulist-button;
  border: 1px solid #d5d5d5;
  height: 36px;
  padding: 8px;
  margin-bottom: 8px;
  font-family: "SourceSansProRegular","Helvetica Neue",Helvetica,"Lucida Sans Unicode",Arial,sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  width: 380px;
}

#select form table tbody tr:nth-child(2) td:nth-child(2) select  {
  left: 420px;
}

#select form table tbody tr {
  display: inline-block; 
  position: absolute; 
  top: 0px;
  width: 400px;
}

#select form table tbody tr select {
  width: 280px;
  position:  absolute;
  top:  50px;  
}

/*  Movie boxes 
|=================================================
| This styling is for the movie boxes displayed
| on the frontpage of the iframe
|
| Most of the style is here for small visual adjustments
*/

#listarr #arrangements table {
  width: 100%;
  height:  0px;
}

#listarr #arrangements .movie-box-2xbox table tr td table tr td:first-child {
  width: 65px;
}

 #listarr td.movie-box-2xbox {
  border-color: #e8e8e8;
 }

 #listarr img.movie_poster {
  padding-right: 8px;
  padding-left: 5px;
 }

/* Tilføj padding til titler og indholdstekst */
#listarr td.movie-title-2xbox, #listarr td.movie-subname-2xbox {
  padding-bottom: 3px;
}

#listarr td.movie-box-2xbox {
  width: 49%;
}

#listarr table > tbody tr td:nth-child(2) table tbody tr:nth-child(2) td table tbody tr td:nth-child(1) {
  width: 0px !important;
}

#listarr table tbody tr td:nth-child(2) table tbody tr:nth-child(2) td table {
  margin-top: 4px;
}

/* IE8 Hack 
|================================================
| This is a hack to target IE8 specifically
|
| The hack is needed because IE8 does not support css3 selectors and 
| the iframe that gets loaded in, does not contain a document type
| and therefore it is not possible to use the css 2.1 selector "first-child"
|
| Another IE8 hack is "\9" but since that hack also get picked up by IE9, the 
| media queri is the only viable option
|
| To read more about the hack: 
| http://keithclark.co.uk/articles/moving-ie-specific-css-into-media-blocks/media-tests/
*/
@media \0screen  {
  #select .caption {
    position: relative;
    top:  20px; 
    left: 10px;
  }

  #select form table tbody tr {
    position: relative;
  }

  #select form table tbody tr select {
    position: relative;
    top: 0px;
  }
}
