body {
  color: rgba(0,0,0,0.7);
  font-family: "SourceSansProRegular","Helvetica Neue",Helvetica,"Lucida Sans Unicode",Arial,sans-serif;
  font-size: 16px;
  line-height: 24px;
}

td {
  padding: 0px !important;
}

td.table_bg {
  background-color: #eee !important;
  border-bottom: none !important;
  padding: 5px 10px 0px 10px !important;
  width: 100%;
  max-width: 810px;
}

body table tbody tr td table tbody tr {
  float: left;
  margin-bottom: 10px !important;
  width: 100%;
  max-width: 830px;
}

b {
  line-height: 38px;
  color: rgba(76,76,76,0.5);
}

p, td  {
  color: rgba(0,0,0,0.7);
  font-family: "SourceSansProRegular","Helvetica Neue",Helvetica,"Lucida Sans Unicode",Arial,sans-serif;
  font-size: 16px;
  line-height: 24px;
}

p {
  max-width: 440px
}

p.header2  {
  font-size: 180%;
  font-family: "SourceSansProSemibold", "Helvetica Neue", Helvetica, "Lucida Sans Unicode",Arial,sans-serif;
  font-weight: normal;
  line-height: 0;
  margin-top: 0;
  margin-bottom: 10px;
  text-rendering: optimizeLegibility;
}

a {
  background-color: #bb251e;
  font-family: "SourceSansProSemibold", "Helvetica Neue", Helvetica, "Lucida Sans Unicode",Arial,sans-serif;
  color: #fffffd;
  padding: 3px 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  text-decoration: none;
}
